[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = https://github.com/omeka/plugin-ExhibitBuilder.git
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = https://github.com/omeka/plugin-SimplePages.git
[submodule "themes/default"]
	path = themes/default
	url = https://github.com/omeka/theme-thanksroy.git
[submodule "themes/seasons"]
	path = themes/seasons
	url = https://github.com/omeka/theme-seasons.git
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = https://github.com/omeka/plugin-Coins.git
[submodule "themes/berlin"]
	path = themes/berlin
	url = https://github.com/omeka/theme-berlin.git
[submodule "plugins/Dropbox"]
	path = plugins/Dropbox
	url = https://github.com/omeka/plugin-Dropbox.git
[submodule "plugins/Multilanguage"]
	path = plugins/Multilanguage
	url = https://github.com/patrickmj/Multilanguage.git
[submodule "plugins/CsvImport"]
	path = plugins/CsvImport
	url = https://github.com/omeka/plugin-CsvImport.git
[submodule "plugins/ItemRelations"]
	path = plugins/ItemRelations
	url = https://github.com/omeka/plugin-ItemRelations.git
[submodule "plugins/SimpleVocab"]
	path = plugins/SimpleVocab
	url = https://github.com/omeka/plugin-SimpleVocab.git
[submodule "plugins/ElementTypes"]
	path = plugins/ElementTypes
	url = https://github.com/biblibre/omeka-plugin-ElementTypes.git
[submodule "themes/minimalist"]
	path = themes/minimalist
	url = https://github.com/omeka/theme-minimalist.git
[submodule "plugins/DublinCoreExtended"]
	path = plugins/DublinCoreExtended
	url = https://github.com/omeka/plugin-DublinCoreExtended.git
[submodule "themes/experimental-beijing"]
	path = themes/experimental-beijing
	url = https://github.com/zploskey/omeka-theme-experimental-beijing.git
[submodule "plugins/ExperimentalBeijing"]
	path = plugins/ExperimentalBeijing
	url = https://github.com/zploskey/plugin-ExperimentalBeijing.git
[submodule "plugins/HideElements"]
	path = plugins/HideElements
    url = https://github.com/zerocrates/HideElements.git
[submodule "plugins/Neatline"]
	path = plugins/Neatline
	url = https://github.com/scholarslab/Neatline.git
[submodule "plugins/NeatlineSimile"]
	path = plugins/NeatlineSimile
	url = https://github.com/scholarslab/nl-widget-Simile.git
[submodule "plugins/NeatlineWaypoints"]
	path = plugins/NeatlineWaypoints
	url = https://github.com/scholarslab/nl-widget-Waypoints.git
[submodule "plugins/ElementLinks"]
	path = plugins/ElementLinks
	url = https://github.com/zploskey/plugin-ElementLinks.git
