[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = git://github.com/omeka/plugin-ExhibitBuilder
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = git://github.com/omeka/plugin-SimplePages
[submodule "themes/default"]
	path = themes/default
	url = git://github.com/omeka/theme-thanksroy
[submodule "themes/seasons"]
	path = themes/seasons
	url = git://github.com/omeka/theme-seasons
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = git://github.com/omeka/plugin-Coins
[submodule "themes/berlin"]
	path = themes/berlin
	url = git://github.com/omeka/theme-berlin.git
[submodule "plugins/Dropbox"]
	path = plugins/Dropbox
	url = https://github.com/omeka/plugin-Dropbox.git
[submodule "plugins/Multilanguage"]
	path = plugins/Multilanguage
	url = https://github.com/patrickmj/Multilanguage.git
[submodule "plugins/CsvImport"]
	path = plugins/CsvImport
	url = https://github.com/omeka/plugin-CsvImport.git
[submodule "plugins/ItemRelations"]
	path = plugins/ItemRelations
	url = https://github.com/omeka/plugin-ItemRelations.git
[submodule "plugins/SimpleVocab"]
	path = plugins/SimpleVocab
	url = https://github.com/omeka/plugin-SimpleVocab.git
[submodule "plugins/ElementTypes"]
	path = plugins/ElementTypes
	url = https://github.com/biblibre/omeka-plugin-ElementTypes.git
[submodule "themes/astrolabe"]
	path = themes/astrolabe
	url = https://github.com/scholarslab/astrolabe.git
[submodule "themes/avantgarde"]
	path = themes/avantgarde
	url = https://github.com/Edward-M/Omeka-Avantgarde.git
[submodule "themes/emiglio"]
	path = themes/emiglio
	url = https://github.com/omeka/theme-emiglio.git
[submodule "themes/minimalist"]
	path = themes/minimalist
	url = https://github.com/omeka/theme-minimalist.git
[submodule "themes/neatscape"]
	path = themes/neatscape
	url = https://github.com/scholarslab/neatscape.git
[submodule "themes/foundation"]
	path = themes/foundation
	url = https://github.com/katel/omeka-foundation.git
[submodule "themes/rhythm"]
	path = themes/rhythm
	url = https://github.com/omeka/theme-rhythm.git
[submodule "themes/santa-fe"]
	path = themes/santa-fe
	url = https://github.com/omeka/theme-santa-fe.git
[submodule "plugins/DublinCoreExtended"]
	path = plugins/DublinCoreExtended
	url = https://github.com/omeka/plugin-DublinCoreExtended.git
[submodule "themes/experimental-beijing"]
	path = themes/experimental-beijing
	url = git://github.com/zploskey/omeka-theme-experimental-beijing
